body {
  margin: auto; width: 100%;
  padding: none;
}

header {
  text-align: center;
}

#featured-property p {
  width: 65%;
  text-align: center;
  margin-left: auto; margin-right: auto;
}

nav a {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}

img {
  display: block;
  margin-left: auto; margin-right: auto;
  width: 70%;
}

figcaption {
  font-size: small;
  text-align: center;
}

#details {
  width: 100%;

}

#details div {
  float: left;
  width: 25%;
  margin-left: auto; margin-right: auto;
  text-align: center;
  background-color: red;
}
